body {
    background-color: #6495ED;
    font-family: 'Black Han Sans', sans-serif;
    color: #FFF;
}

.headerContainer {
    text-align: center;
    background-color: #ed7864;
    border: 4px solid  #FFF;
    border-radius: 15px;
    margin: 0px 600px 70px 600px;
}

h1 {
    font-size: 300%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 150px;
    width: 150px;
    margin: 0px;
}

tr {
    margin: 0px;
    padding: 0px;
}

.borderLeftRight {
    border-left: 8px solid #000000;
    border-right: 8px solid #000000;
}

.borderTopBottom {
    border-top: 8px solid #000;
    border-bottom: 8px solid #000;
}

.borderAll {
    border: 8px solid #000;
}

.buttonContainer {
    margin-top: 100px;
    text-align: center;
}

.resetButton {
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    height: 45px;
    width: 125px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 6px 7px;
}

.resetButton:hover {
    background-color: #ed7864;
}

.resetButton:active {
    transform: translateY(5px);
    box-shadow: 4px 7px;
}